# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit tests / coverage reports
.tox/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Data & Logs
links.json
notice.txt
*.log
instance/
