# Environment variables
.env
.flaskenv

# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
venv/
env/
dist/
build/

# Database / Data
instance/
*.sqlite
links.json
notice.txt
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Unit tests / coverage reports
.tox/
.coverage
htmlcov/


# Data & Logs
links.json
notice.txt
*.log
instance/
